$main-font: 'Roboto', sans-serif;
$main-font-size: 14px;
$main-font-weight: 400;
$main-line-height: 1.14;

$main-bg-color: #fefefe;
$modal-bg-color: #ffe550;
$hover-color: #7eb101; // ???

$input-border-normal-color: #1212121f;
$warning-color: #ff705d;
$placeholder-font-color: #c4c4c4;

$main-transition-delay: 500ms;
$main-transition-func: cubic-bezier(0.4, 0, 0.2, 1);